* {
	font-family: Arial, sans-serif;
}

.maincontent {
	display: flex;
	width: 100vw;
}
.marketsidebar {
	display: flex;
	flex-direction: column;
	width: 8vw;
	/* justify-content: left; */
	/* height: 100vh; */
	.marketsidebarbtn {
		font-weight: bolder;
		font-size: 1rem;
		height: 4rem;
	}
}

.mainpart {
	flex: 1;
	/* background-color: chartreuse; */
	margin-left: 1rem;
	margin-right: 1rem;
}
