.navbarwhite {
	width: 99%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	color: #145039;
	padding: 0.5rem 1rem;
	font-weight: bold;
	font-size: 1.4rem;
	box-sizing: border-box;
}

.imgb {
	height: 5.5rem;
	width: auto;
}

#logo {
	cursor: pointer;
	box-sizing: border-box;
}

.tabBar {
	display: flex;
	align-items: center;
}

.tabBar {
	font-size: 1.1rem;
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: transparent;
	border: none;
	color: #145039;
	cursor: pointer;
	margin-left: 1rem;
	transition: opacity 0.3s ease;
}

.tabBar button:hover {
	opacity: 0.8;
}

.mypagebuttonclass,
.loginbuttonclass,
.logoutbuttonclass {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mypagebuttonclass {
	margin-right: 2rem;
}
