.detail-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  margin-bottom: 20px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
	height: 40px;
}

.nav-links span {
	color: #333;
	text-decoration: none;
	margin-left: 20px;
	font-weight: 500;
}

.nav-links span.active {
	color: #04b04c;
}

.store-info {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	p {
		display: flex;
		justify-content: center;
	}
}

.menu-info {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	p {
		display: flex;
		justify-content: center;
	}
}

.img-container {
	display: flex;
}