.Welcomediv {
	text-align: center;
	font-family: "Noto Sans KR", sans-serif;
	color: #5b5b5b;
	font-size: 0.9rem;
}

section {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4rem 2rem;
}

h1,
h2 {
	font-weight: 700;
	margin-bottom: 2rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

p {
	font-size: 1.2rem;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto 1rem;
}
