.addressdiv {
	display: block;
	margin-left: 25%;
}

.postcode {
	width: 88px;
	height: 32px;
	background: #04b04c;
	margin: 10px auto;
	padding: 0px;
	color: white;
	font-weight: bold;
	margin-left: 20px;
}
.autoword {
	#sample_postcode,
	#sample_address,
	#sample_extraAddress,
	#sample_detailAddress {
		line-height: 28px;
		position: relatvs;
		width: 88%;
		justify-items: right;
		margin-bottom: 4px;
		border: 1px solid #ccc;
		border-radius: 0%;
		font-size: 13px;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		border-bottom-style: 1px solid;
	}
}
