* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: flex-start;
}

.customer-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  margin-bottom: 20px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
	height: 40px;
}

.nav-links span {
	color: #333;
	text-decoration: none;
	margin-left: 20px;
	font-weight: 500;
}

.nav-links span.active {
	color: #04b04c;
}

.header {
  width: 100vw;
  max-width: 1500px;
  /* background-color: #77A68B; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #17403C;

  h2 {
    margin-left: 20px;
  }

  span {
    margin: 15px;
    font-weight: 800;
  }
}

.homebanner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  img {
    width: 90vw;
    height: auto;
    object-fit: contain;
    margin: 0;
  }
  
}