@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	font-family: "Noto Sans KR", sans-serif;
	background-color: #f4f7fc;
	color: #333;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
	height: 40px;
}

.nav-links a {
	color: #333;
	text-decoration: none;
	margin-left: 20px;
	font-weight: 500;
}

.nav-links a.active {
	color: #04b04c;
}

.myinfo-box {
	display: flex;
	width: 80vw;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex: 1;
	padding: 40px;
	gap: 40px;
}

.login-container {
	transition: max-width 0.3s ease-in-out;
}

.login-container.login-mode {
	max-width: 450px;
}

.login-container.signup-mode {
	max-width: 800px;
}

.login-container.signup-mode .formcontent {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.login-container.signup-mode .firstpart,
.login-container.signup-mode .adresspart {
	flex: 1;
}

.login-container,
.ad-container {
	background-color: white;
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
	margin-bottom: 30px;
	color: #04b04c;
}

.ad-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.ad-container h3 {
	color: #04b04c;
	margin-bottom: 10px;
	margin-top: 70px;
}

.ad-container p {
	margin-bottom: 20px;
}

.ad-container img {
	width: 100%;
	max-width: 1000px; /* 이미지의 최대 너비 조정 */
	border-radius: 10px;
	margin-bottom: 20px;
}

.btn-ad {
	padding: 10px 20px;
	background-color: #04b04c;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.btn-ad:hover {
	background-color: #039042;
}

.bannerfooter {
	width: 100%;
	display: flex;
	justify-content: center; /* 가로 정렬 */
	align-items: center; /* 세로 정렬 */
	position: relative;
	margin-top: 50px; /* 상단 여백 */
}

.bannerimg {
	width: 100%;
	max-width: 1000px; /* 이미지의 최대 너비 조정 */
	height: auto;
	display: block;
}
