body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #fece00;
	font-family: "Arial", sans-serif;
}

.navlogin {
	display: flex;
	margin-top: 80px;
	margin-bottom: 40px;
	justify-content: center;
}

.show_login,
.show_signup {
	width: 180px;
	display: flex;
	justify-content: center;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

.show_login:hover,
.show_signup:hover,
.show_login.active,
.show_signup.active {
	opacity: 1;
}

.show_login.active .btn,
.show_signup.active .btn {
	background-color: #04b04c;
	color: #ffffff;
	font-weight: bolder;
}

.btn {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	border: none;
	background-color: rgba(143, 226, 190, 0.588);
	color: rgba(255, 255, 255, 0.635);
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, transform 0.3s ease;
}

#sgp {
	border-radius: 10px 0 0 10px;
}

#lgn {
	border-radius: 0 10px 10px 0;
}

.btn:hover {
	background-color: #289868;
	color: white;
	transform: translateY(-2px);
}

.form1,
.form2 {
	width: 50vw;
	min-width: 500px;
	max-width: 800px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center; /* 추가: 수직 가운데 정렬 */
	margin: auto; /* 추가: 수평 가운데 정렬 */
}

form {
	display: flex;
	flex-direction: column;
	width: 100%; /* 폼의 너비를 부모에 맞춤 */
	padding-left: 18px;
	padding-right: 18px;
	color: #289868;
}

.job {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-bottom: 40px;
	margin-top: 20px;
}

.owner,
.customer {
	display: flex;
	align-items: center;
	padding: 12px 21px;
	gap: 10px;
	cursor: pointer;
	color: #5e5e5ea5;
	font-size: 15px;
}

input[type="radio"] {
	height: 11px;
}

input[type="radio"]:checked + #customerLabel,
input[type="radio"]:checked + #ownerLabel {
	color: #58a758;
	font-size: 30px;
	font-weight: bolder;
	transition: all 0.3s ease;
}

input[type="radio"]:checked {
	accent-color: green;
	transition: all 0.3s ease;
}

tr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 40px;
	margin-bottom: 15px;
}

#address {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	margin-bottom: 15px;
}

.addressdiv {
	width: 100vw;
	min-width: 350px;
	display: flex;
	justify-content: left;
}

th {
	min-width: 60px;
	width: 9%;
	text-align: left;
	padding-top: 12px;
	padding-bottom: 12px;
}

input {
	flex: 0.8;
	line-height: 25px;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 13px;
}

#btns {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding-left: 0;
}

.backbtn,
.loginbtn {
	margin-top: 14px;
	border-radius: 10px;
	border: none;
	height: 40px;
	width: 280px;
	cursor: pointer;
	background-color: #04b04c74;
	color: rgba(255, 255, 255, 0.835);
	transition: background-color 0.3s ease, transform 0.3s ease;
	line-height: 40px;
	font-size: 1rem;
	text-align: center;
}

.backbtn:hover,
.loginbtn:hover {
	background-color: #289868;
	color: white;
	transform: translateY(-2px);
}
