.navlogin {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.show_login,
.show_signup {
	width: 50%;
}

.btn {
	width: 100%;
	height: 40px;
	font-size: 14px;
	border: none;
	background-color: #f0f0f0;
	color: #333;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover,
.btn.active {
	background-color: #04b04c;
	color: white;
}

#sgp {
	border-radius: 5px 0 0 5px;
}

#lgn {
	border-radius: 0 5px 5px 0;
}

.form1 {
	width: 100%;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
}
.form1,
.form2 {
	width: 100%;
	transition: opacity 0.3s ease-in-out;
}

.formcontent {
	display: flex;
	flex-direction: row;
	gap: 20px; /* 두 열 사이의 간격 */
}

.firstpart,
.adresspart {
	flex: 1; /* 두 열이 동일한 너비를 가지도록 설정 */
	display: flex;
	flex-direction: column;
}

.formdivdiv {
	margin-bottom: 15px; /* 각 입력 필드 사이의 간격 */
}

#btns {
	margin-top: 20px; /* 버튼과 폼 내용 사이의 간격 */
}

.thdiv {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
}

.backbtn,
.loginbtn {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	background-color: #04b04c;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.show_login.active .btn,
.show_signup.active .btn {
	background-color: #04b04c;
	color: #ffffff;
	font-weight: bolder;
}

.show_login:hover,
.show_signup:hover,
.show_login.active,
.show_signup.active {
	opacity: 1;
}

.job {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	padding: 15px;
	border-radius: 5px;
}

.owner,
.customer {
	display: flex;
	align-items: center;
	width: 48%; /* 각 옵션이 거의 절반의 너비를 차지하도록 설정 */
}

input[type="radio"] {
	margin-right: 10px;
	min-width: 20px; /* 라디오 버튼의 최소 너비 설정 */
}

#customerLabel,
#ownerLabel {
	font-size: 15px;
	line-height: 1.3;
	word-break: keep-all;
	white-space: normal;
}

input[type="radio"]:checked + #customerLabel,
input[type="radio"]:checked + #ownerLabel {
	color: #04b04c;
	font-weight: bold;
}

.sellertype {
	max-width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: contain;
}
